# --- Backend ---
DATABASE_URL="postgresql://user:pass@host/dbname?sslmode=require"
JWT_SECRET="cok-gizli-uzun-bir-anahtar-uretip-buraya-yaz"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="bambaska-cok-gizli-uzun-bir-anahtar"
JWT_REFRESH_EXPIRES_IN="7d"
PORT=3001
CORS_ORIGIN="http://localhost:3000"

# --- Frontend ---
NUXT_PUBLIC_API_BASE="http://localhost:3001"
